<h1 class = "title"> About </h1> 

<div class ="about">
<p> 
    We like to bring people together and establish new connections everyday. If you are a personal trainer or a gym, it is time for you to build on your connections and be a part of the revolution. 
</p>

<br/>

<p>
    <strong> Greater Access -  </strong>
    Get access to the best gyms in Australia and maximize your coaching experience. 
</p>

<br/>

<p>
    <strong> No contract - </strong> 
    Train your clients in any available gym without the need of signing any contracts. 
</p>

</div>