<!DOCTYPE html>
<html>
  <head>
    <title>MajorRailsProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless user_signed_in?%>

      <%#signed in%>
      <%#signed up%>


    <% end %>

    <%= yield %>
  </body>
</html>
